/* Define CSS variables for colors */
:root {
    --primary-color: #1772d0;
    --hover-color: #cc7cb4;
    --highlight-background: #ffffd0;
  }
  
  /* Latin and Latin-ext for Lato font with different weights and styles */
  @font-face {
    font-family: 'Lato';
    src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
    font-style: italic;
    font-weight: 400;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  
  /* Lato Regular and Bold */
  @font-face {
    font-family: 'Lato';
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    font-weight: 400; /* Normal weight */
  }
  
  @font-face {
    font-family: 'Lato';
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
    font-weight: 700; /* Bold weight */
  }
  
  body, td, th, tr, p, a, strong {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 14px;
  }
  
  a {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  a:focus, a:hover {
    color: var(--hover-color);
    text-decoration: none;
  }
  
  h1, h2, .name {
    font-size: 32px; 
  }
  
  .fade, .two {
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
  }
  
  span.highlight {
    background-color: var(--highlight-background);
  }
  
  name {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;  
  }

  table {
    border-bottom: none;  /* Removes border from the bottom of the table */
}

tr:last-child, td:last-child {
    border-bottom: none;  /* Removes border from the last row or cell */
}


section::after {
    content: none;
}

nav {
    background-color: #333; /* Dark background for the navbar */
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #0056b3; 
  }
  
  
  .section-container {
    background-color: #f7f7f7; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
    opacity: 0;
    transform: scale(0.85) rotate(-10deg) translateY(50px); /* Start smaller, rotated, and lower */
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s ease-out; 
}

.section-container.active {
    opacity: 1;
    transform: scale(1) rotate(0deg) translateY(0); 
}

.project-layout {
    display: flex;
    flex-wrap: wrap;
}

.main-content {
    flex: 3; 
    padding-right: 20px; 
}

.sidebar {
    flex: 1; 
    padding-left: 20px; 
    border-left: 2px solid #ccc; 
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media (max-width: 768px) {
    .project-layout {
        flex-direction: column;
    }

    .main-content, .sidebar {
        flex: 1 100%; 
        padding: 0; 
    }

    .sidebar {
        border-left: none;
        padding-top: 20px; 
    }
}
